div.mkdf-container {
    background-position: 0 0;
    border-width: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    width: 100%;
    z-index: 100;
  }
  div#product-28.product.type-product.post-28.status-publish.first.instock.product_cat-uncategorized.product_tag-cosmetic.has-post-thumbnail.shipping-taxable.purchasable.product-type-simple {
    background-position: 0 0;
    border-width: 0;
    display: inline-block;
    float: none;
    margin: 21px 0 50px;
    outline: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
  }
  figure.woocommerce-product-gallery__wrapper {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 100%;
  }
  div.mkdf-single-product-content {
    background-position: 0 0;
    border-width: 0;
    clear: both;
    display: inline-block;
    margin: 0 0 20px;
    outline: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
  }
  img.wp-post-image {
    border-style: none;
    display: block;
    height: auto;
    max-width: 100%;
    position: relative;
    width: 100%;
  }
  img {
    border-style: none;
    display: block;
    height: 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
  }
  div.mkdf-single-product-summary {
    background-position: 0 0;
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin: 0;
    outline: 0;
    padding: 0 0 0 23px;
    position: relative;
    vertical-align: middle;
    width: 49%;
  }
  div.summary.entry-summary {
    background-position: 0 0;
    border-width: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }
  h2.mkdf-single-product-title {
    background-position: 0 0;
    border-width: 0;
    color: #000;
    display: block;
    font-family: Lato,sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 1.267em;
    margin: 0 0 7px;
    outline: 0;
    overflow-wrap: break-word;
    padding: 0;
    text-transform: uppercase;
    vertical-align: baseline;
  }
  p.price {
    background-position: 0 0;
    border-width: 0;
    color: #000;
    display: block;
    font-family: Cormorant,serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .05em;
    line-height: 1;
    margin: 4px 0 0;
    outline: 0;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    vertical-align: baseline;
  }
  p {
    background-position: 0 0;
    border-width: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }
  form.cart {
    background-position: 0 0;
    border-width: 0;
    margin: 54px 0 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }
  span.sku_wrapper {
    background-position: 0 0;
    border-width: 0;
    display: block;
    margin: 1px 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }
  span.posted_in {
    background-position: 0 0;
    border-width: 0;
    display: block;
    margin: 1px 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }
  span.tagged_as {
    background-position: 0 0;
    border-width: 0;
    display: block;
    margin: 1px 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }
  span.tagged_as {
    background-position: 0 0;
    border-width: 0;
    display: block;
    margin: 1px 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }
  a.add_to_wishlist {
    background-position: 0 0;
    border-width: 0;
    color: #838383;
    display: inline-block;
    font-family: Cormorant,serif;
    font-size: 18px;
    font-style: italic;
    line-height: 24px;
    margin: 0;
    outline: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    transition: color .2s ease-out;
    vertical-align: top;
  }
  span.woocommerce-Price-amount.amount {
    background-position: 0 0;
    border-width: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }
  h2.mkdf-single-product-title {
    background-position: 0 0;
    border-width: 0;
    color: #000;
    display: block;
    font-family: Lato,sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 1.267em;
    margin: 0 0 7px;
    outline: 0;
    overflow-wrap: break-word;
    padding: 0;
    text-transform: uppercase;
    vertical-align: baseline;
  }
  ul.tabs.wc-tabs {
    background-position: 0 0;
    border-width: 0;
    clear: both;
    display: inline-block;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
  }
  a {
    background-position: 0 0;
    border: 1px solid #000;
    color: #5a5a5a;
    display: inline-block;
    font-family: Cormorant,serif;
    font-size: 20px;
    font-style: italic;
    margin: 0;
    outline: 0;
    padding: 12px 59px 16px;
    position: relative;
    text-decoration: none;
    transition: border-color .2s ease-out;
    vertical-align: top;
  }
  div#tab-description.woocommerce-Tabs-panel.woocommerce-Tabs-panel--description.panel.entry-content.wc-tab {
    background-position: 0 0;
    border-width: 0;
    display: inline-block;
    margin: 0;
    outline: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
  }
  p {
    background-position: 0 0;
    border-width: 0;
    margin: 24px 0 20px;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }
  section.related.products {
    display: inline-block;
    margin: 30px 0 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
  }
  h2 {
    background-position: 0 0;
    border-width: 0;
    color: #000;
    display: block;
    font-family: Lato,sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 1.267em;
    margin: 77px 0 34px;
    outline: 0;
    overflow-wrap: break-word;
    padding: 0;
    text-transform: uppercase;
    vertical-align: baseline;
  }
  li.product.type-product.post-2124.status-publish.first.instock.product_cat-uncategorized.product_tag-make-up.has-post-thumbnail.shipping-taxable.product-type-grouped {
    background-position: 0 0;
    border-width: 0;
    box-sizing: border-box;
    clear: both;
    display: inline-block;
    float: left;
    margin: 0 0 30px;
    outline: 0;
    padding: 0 15px;
    position: relative;
    vertical-align: middle;
    width: 25%;
  }
  a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
    background-position: 0 0;
    border-width: 0;
    color: #000;
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
    transition: color .2s ease-out;
    vertical-align: baseline;
    width: 100%;
  }
  div.mkdf-container-inner.clearfix {
    background-position: 0 0;
    border-width: 0;
    box-sizing: border-box;
    margin: 0 auto;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    width: 1100px;
  }
  h4.mkdf-product-list-title {
    background-position: 0 0;
    border-width: 0;
    color: #000;
    font-family: Lato,sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .075em;
    line-height: 1.353em;
    margin: 0;
    outline: 0;
    overflow-wrap: break-word;
    padding: 0;
    text-transform: uppercase;
    vertical-align: baseline;
  }
  div.mkdf-product-categories {
    background-position: 0 0;
    border-width: 0;
    margin: 2px 0 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }
  span.price {
    background-position: 0 0;
    border-width: 0;
    color: #000;
    display: block;
    font-family: Cormorant,serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .05em;
    line-height: 1;
    margin: 4px 0 0;
    outline: 0;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    vertical-align: baseline;
  }
  
